 #include "saerror.inc";
 StringTable
 {
 SQLE_HLI_BAD_ARGUMENT	,"Аргумент, переданный в WSQL был неверным"
 SQLE_HLI_INTERNAL,"WSQL HLI внутренняя ошибка"
 SQLE_HLI_BAD_CALLBACK	,"Неправильная WSQL HLI возвращающая функция "
 SQLE_HLI_BAD_HOST_VAR_VALUE,"Неправильное значение базовой WSQL HLI переменной"
 SQLE_HLI_BAD_HOST_VAR_NAME,"Неправильное имя базовой WSQL HLI переменной"
 SQLE_HLI_BAD_STATEMENT	,"Неправильное имя WSQL HLI оператора"
 SQLE_HLI_BAD_CURSOR,"Неправильное имя WSQL HLI курсора"
 SQLE_HLI_BAD_SYNTAX,"Неправильный синтаксис WSQL HLI команды"
 SQLE_THREAD_DEADLOCK,"Все пути заблокированы"
 SQLE_DEADLOCK,"Обнаружена блокировка"
 SQLE_DEVICE_ERROR,"Ошибка ввода/вывода"
 SQLE_DEVICE_FULL,"Диск переполнен"
 SQLE_TERMINATED_BY_USER,"Прервано пользователем"
 SQLE_DATABASE_ERROR,"Внутренняя ошибка"
 SQLE_ERROR,"SQL ошибка во время выполнения"
 SQLE_INTERRUPTED,"Оператор прерван пользователем"
 SQLE_DOUBLE_REQUEST,"Обнаружено два активных запроса базы данных"
 SQLE_USER_DEFINED_EXCEPTION,"Произошло  определенное пользователем исключение"
 SQLE_PUBLICATION_NOT_FOUND,"Публикация не найдена"
 SQLE_PROCEDURES_NOT_IN_DESKTOP	,"Триггеры и процедуры не поддерживаются локальным сервером"
 SQLE_NESTING_TOO_DEEP,"Слишком высокий уровень вложенности"
 SQLE_INVALID_TRIGGER_STATEMENT	,"COMMIT/ROLLBACK не допустимы внутри  триггерных операций"
 SQLE_INVALID_TRIGGER_COL_REFS,"Неправильный PREFERENCES оператор в определении триггера"
 SQLE_TRIGGER_DEFN_CONFLICT,"Определение триггера конфликтует с сиществующими триггерами"
 SQLE_USER_OWNS_PROCEDURES,"Не могу удалить пользователя, чьи процедуры в данный момет используются сервером"
 SQLE_COLUMN_IN_TRIGGER	,"Не могу удалить столбец указанный в определении триггера"
 SQLE_TRIGGER_NOT_FOUND	,"Триггер не найден"
 SQLE_ATOMIC_OPERATION,"COMMIT/ROLLBACK не допустимы внутри  ATOMIC операций"
 SQLE_OLD_DBINIT,",База данных была инициализирована более позденей версией програмного обеспечения"
 SQLE_PROCEDURE_NOT_FOUND,"Процедура не найдена"
 SQLE_WRONG_NUM_OF_FETCH_VARIABLES,"Неправильное количество переменных в  FETCH"
 SQLE_INVALID_FETCH_POSITION,"Неправильное абсолютное или относительное смещение в FETCH"
 SQLE_LABEL_NOT_FOUND,"Метка не найдена"
 SQLE_VARIABLE_EXISTS,"Переменная уже названа"
 SQLE_VARIABLE_NOT_FOUND,"Переменная не найдена"
 SQLE_DUPLICATE_FOREIGN_KEY,"Внешнй ключ для таблицы дублируется существующим внешним ключем"
 SQLE_IDENTIFIER_TOO_LONG,"Идентификатор слишком длинный"
 SQLE_BACKUP_UNABLE_TO_DELETE_FILE,"Не могу удалить файл базы данных"
 SQLE_BACKUP_CANNOT_RENAME_LOG_YET,"Незавершенные транзакции не позволяют переименовать протокол транзакций"
 SQLE_BACKUP_NOT_STARTED,"Сохранение базы данных не запущено"
 SQLE_UNKNOWN_BACKUP_OPERATION,"Неизвестная операция сохранения"
 SQLE_SERVER_ENGINE_MISMATCH,"Несовпадение версий обеспечения SERVER/DATABASE"
 SQLE_DBLIB_ENGINE_MISMATCH,"Несовпадение версий обеспечения DBLIB/DATABASE"
 SQLE_PP_DBLIB_MISMATCH,"Несовпадение версий SQLPP/DBLIB"
 SQLE_RESULT_NOT_ALLOWED,"Установка результата не доступна из атомного составного оператора"
 SQLE_ROLLBACK_NOT_ALLOWED,"Откат до точки сохранения не достоупен"
 SQLE_SAVEPOINT_NOTFOUND,"Точка сохранения не найдена"
 SQLE_PROCEDURE_IN_USE,"Процедура в использовании"
 SQLE_TABLE_IN_USE,"Таблица в использовании"
 SQLE_SAVEPOINTS_REQUIRE_UNDO,"Точка сохранения требует протокол отката"
 SQLE_CHECKPOINT_REQUIRES_UNDO,"CHECKPOINT команда требует протокол отката"
 SQLE_MUST_BE_ONLY_CONNECTION,"Не доступно, пока база данных используется"
 SQLE_LOCKED,"Имеет закрытую строку"
 SQLE_INVALID_COLUMN_VALUE,"Неправильная величина для колонки в таблице"
 SQLE_ROW_UPDATED_SINCE_READ,"Строка изменилась в течении последнего чтения - операция прервана"
 SQLE_WRONG_NUM_OF_INSERT_COLS,"Неправильное число величин для INSERT"
 SQLE_INVALID_OPTION_SETTING,"Неправильная установка опции"
 SQLE_INVALID_OPTION,"Неправильная опция - не существует PUBLIC установки"
 SQLE_ONLY_ONE_TABLE,"INSERT/DELETE с курсором может модифицировать только одну таблицу"
 SQLE_PRIMARY_KEY_VALUE_REF,"Первичный ключ для строки в таблице указывает на другую таблицу"
 SQLE_NO_CURRENT_ROW,"Нет текущей колонки курсора"
 SQLE_INDEX_NOT_UNIQUE,"Индекс для таблицы должен быть уникальным"
 SQLE_COLUMN_CANNOT_BE_NULL,"Колонка в таблице не может быть NULL"
 SQLE_INVALID_FOREIGN_KEY,"Нет первичного ключа для внешнего ключа в таблице"
 SQLE_PRIMARY_KEY_NOT_UNIQUE,"Первичный ключ для таблицы не уникален"
 SQLE_NON_UPDATEABLE_VIEW,"Неправильная операция над объединенными таблицами"
 SQLE_CANNOT_MODIFY,"Не могу изменить колонку в строке"
 SQLE_NON_UPDATEABLE_COLUMN,"Не могу скорректировать выражение"
 SQLE_NOT_FOUND_IN_INDEX,"Не могу найти индекс в таблице"
 SQLE_NOT_ENOUGH_HOST_VARS,"Недостаточно величин для host переменных"
 SQLE_CURSOROP_NOT_ALLOWED,"Неправильная операция для этого курсора"
 SQLE_SUBQUERY_RESULT_NOT_UNIQUE,"Подзапрос не может возвращать более одного результата"
 SQLE_TOO_MANY_RECORDS,"SELECT возвращает более одной строки"
 SQLE_PUT_CURSOR_ERROR,"Ошибка вставки в курсор"
 SQLE_INDEX_NOT_FOUND,"Не могу найти названный индекс"
 SQLE_SQLDA_TOO_SMALL,"Недостаточно полей, сосредоточенных в  SQLDA"
 SQLE_NO_INDICATOR,"Нет индикаторной переменной , предусмотренной для NULL результата"
 SQLE_CURSOR_NOT_OPEN,"Курсор не открыт"
 SQLE_CURSOR_ALREADY_OPEN,"Курсор уже открыт"
 SQLE_CURSOR_NOT_DECLARED,"Курсор должен быть объявлен"
 SQLE_INVALID_DESCRIBE_TYPE,"Неправильный тип в операторе  DESCRIBE"
 SQLE_DESCRIBE_NONSELECT,"Можно описывать только оператор  SELECT"
 SQLE_INVALID_COLUMN_NUMBER,"Неправильное число колонок"
 SQLE_OVERFLOW_ERROR,"Величина слишком велика для расположения"
 SQLE_CONVERSION_ERROR,"Не могу конвертировать"
 SQLE_EXPRESSION_ERROR,"Неправильное выражение"
 SQLE_VARIABLE_INVALID,"Неправильная host переменная"
 SQLE_WRONG_PARAMETER_COUNT,"Неправильное количество параметров функции"
 SQLE_INVALID_UNION,"SELECT, перечисленные в UNION, не сочетаются по длине"
 SQLE_INVALID_ORDER,"Число в ORDER BY слишком велико"
 SQLE_SUBQUERY_SELECT_LIST,"Подзапрос позволяет только пункт списка выбора"
 SQLE_AGGREGATES_NOT_ALLOWED,"Общие функции запрещены в этом операторе"
 SQLE_INVALID_GROUP_SELECT,"Столбец не может быть использована кроме как в GROUP BY"
 SQLE_UNKNOWN_FUNC,"Неизвестная функция"
 SQLE_AMBIGUOUS_JOIN,"Существует более чем один способ для объединения"
 SQLE_CANNOT_JOIN,"Не существует  способов для объединения"
 SQLE_FOREIGN_KEY_NAME_NOT_FOUND,"Имя внешнего ключа не найдено"
 SQLE_COLUMN_AMBIGUOUS,"Колонка найдена в более чем одной таблице - необходимо связанное имя."
 SQLE_COLUMN_NOT_FOUND,"Колонка не найдена"
 SQLE_CORRELATION_NAME_NOT_FOUND,"Связанное имя не найдено"
 SQLE_TABLE_NOT_FOUND,"Таблица не найдена"
 SQLE_UNKNOWN_USERID,"Неизвестный идентификатор пользователя"
 SQLE_CORRELATION_NAME_AMBIGUOUS,"Более чем одна таблица идентифецируется c именем"
 SQLE_DBSPACE_NOT_FOUND	,"dbspace не найден"
 SQLE_CORRELATION_NAME_NEEDED,"Таблица должна иметь уникальное связанное имя"
 SQLE_OUTER_JOIN_CYCLE,"Таблица во внешнем цикле соединения"
 SQLE_LANGUAGE_EXTENSION,"Языковое расширение"
 SQLE_NOT_IMPLEMENTED,"Не осуществленное"
 SQLE_INVALID_STATEMENT_TYPE,"Неправильный тип подготавливаемого оператора"
 SQLE_STATEMENT_ERROR,"Ошибка SQL оператора"
 SQLE_SYNTAX_ERROR,"Синтаксическая ошибка"
 SQLE_INVALID_STATEMENT,"Неправильный оператор"
 SQLE_USER_OWNS_TABLES,"Не могу закрыть пользователя-владельца открытой таблицы"
 SQLE_COLUMN_IN_INDEX,"Не могу изменить столбец в индексе"
 SQLE_PRIMARY_KEY_TWICE,"Таблица не может иметь два первичных ключа"
 SQLE_ALTER_CLAUSE_CONFLICT,"Конфликт при использовании ALTER"
 SQLE_NOT_A_GROUP,"Не группа пользователей"
 SQLE_GROUP_CYCLE,"Операция должна вызывать групповой цикл"
 SQLE_PERMISSION_DENIED,"Нет разрешения"
 SQLE_ALREADY_HAS_GRANT_PERMS,"Уже имеется разрешение"
 SQLE_PRIMARY_KEY_COLUMN_DEFINED,"Колонка первичного ключа уже определена"
 SQLE_NO_PRIMARY_KEY,"Таблица не имеет первичного ключа"
 SQLE_TABLE_MUST_BE_EMPTY,"Таблица должна быть пустой"
 SQLE_VIEW_DEFINITION_ERROR,"Число столбцов не сочетается с SELECT"
 SQLE_INVALID_FOREIGN_KEY_DEF,"Столбец во внешнем ключе имеет отличное от первичного ключа определение"
 SQLE_EXISTING_PRIMARY_KEY,"Таблица уже имеет первичный ключ"
 SQLE_INDEX_NAME_NOT_UNIQUE,"Имя индекса не уникально"
 SQLE_NAME_NOT_UNIQUE,"Уже существует"
 SQLE_STILL_ACTIVE_CONNECTIONS,"Активное соединение с базой данных неподвижно"
 SQLE_CONNECTION_NOT_FOUND,"Соединение не найдено"
 SQLE_ERROR_WRITING_LOG,"Ошибка записи в файл протокола"
 SQLE_CANNOT_OPEN_LOG,"Не могу открыть файл протокола"
 SQLE_UNABLE_TO_CONNECT,"Не могу стартовать"
 SQLE_INVALID_MODULE_LOGON,"Неправильный пароль и идентификатор ползователя в препроцессорном модуле"
 SQLE_INVALID_LOGON,"Неправильное имя пользователя или пароль"
 SQLE_TOO_MANY_CONNECTIONS,"Слишком много соединений с базой данных"
 SQLE_NOT_CONNECTED,"Нет соединения с SQL базой данных"
 SQLE_ENGINE_NOT_RUNNING,"Сервер базы данных не запущен"
 SQLE_CONNECTIONS_DISABLED,"Соединение с базой данных нарушено"
 SQLE_AUTHENTICATION_VIOLATION,"Нарушение аутентификации"
 SQLE_PAGE_SIZE_TOO_BIG,"Размер страницы базы данных слишком велик"
 SQLE_ENGINE_ALREADY_RUNNING,"Сервер базы данных уже запущен"
 SQLE_INVALID_PARAMETER,"Неправильный параметр"
 SQLE_ENGINE_NOT_MULTIUSER,"Сервер базы данных не запущен в многопользовательском режиме"
 SQLE_PROTOCOL_MISMATCH,"Несовпадение протокола связи клиент/сервер"
 SQLE_DATABASE_NAME_REQUIRED,"Требуется имя базы данных для запуска сервера"
 SQLE_NO_MEMORY,"Недостаточно памяти для запуска"
 SQLE_COMMUNICATIONS_ERROR,"Ошибка связи"
 SQLE_INVALID_DATABASE,"Указанная база данных недействительна"
 SQLE_DATABASE_NOT_FOUND,"Указанная база данных не найдена"
 SQLE_UNABLE_TO_START_DATABASE,"Не могу запустить указанную базу данных"
 SQLE_INVALID_COMMAND_LINE,"Неверная командная строка для сервера базы данных"
 SQLE_UNABLE_TO_START_ENGINE,"Не могу запустить сервер базы данных"
 SQLE_INVALID_LOCAL_OPTION,"Неверная опция локальной базы данных"
 SQLE_DYNAMIC_MEMORY_EXHAUSTED,"Динамическая память исчерпана!"
 SQLE_ALIAS_CLASH,"Имя базы данных не уникально"
 SQLE_REQUEST_DENIED_NO_DATABASES,"Запрос отвергнут - нет активных баз данных"
 SQLE_START_STOP_DATABASE_DENIED,"Запрос на запуск/остановку базы данных отвергнут"
 SQLE_DATABASE_NOT_ACTIVE,"Ввыбранная база данных в данный момент неактивна"
 SQLE_COMMUNICATIONS_UNDERFLOW,"Исчезновение данных буфера связи"
 SQLE_NOERROR,"Ошибок не обнаружено"
 SQLE_NOTFOUND,"Строка не найдена"
 SQLE_TRUNCATED,"Величина исключена"
 SQLE_TEMPORARY_TABLE,"Использование временной табицы"
 SQLE_CANNOT_CONVERT,"Неверное преобразование данных"
 SQLE_ROW_UPDATED_WARNING,"Строка была изменена со времени последнего чтения"
 SQLE_PROCEDURE_COMPLETE,"Процедура выполнена"
 SQLE_COLUMN_VALUE_CHANGED,"Эначение колонки в таблице изменено"
 SQLE_SYNTAX_EXTENSION_WARNING,"Выполняемая команда содержит расширения ANSI 1992 Entry SQL"
 SQLE_CURSOR_OPERATION_CONFLICT,"Конфликт операции с курсором"
 SQLE_NULL_VALUE_ELIMINATED,"Присвоено значение NULL"
 SQLE_BACKUP_PAGE_INCOMPLETE,"Резервная страница лога транзакций заполнена частично"
 SQLE_CANNOT_EXECUTE_STMT,"Выражение не может быть выполнено"
 SQLE_WARNING,"Предупреждение"
 SQLE_HLI_MORE_DATA_AVAILABLE,"Предоставленный буфер слишком мал, чтобы содержать все результаты запроса"
 }
